
html{
    margin-top: -50px;
    margin-left: 0;
}
body{
    
}

*{

    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.left-right-margin{
    margin-left: 100px;
    margin-right: 100px;
}

header{
    background: rgba(255, 144, 14, 0.1);
    height: auto;
    width: 100%;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
header nav{
    margin: 50px 100px auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}


.heading{
    font-weight: 700;
    font-size: 45px;
    color:#131313;

}


#intro{
    margin-top: 100px;
    display: flex;
    flex-direction: column; align-items: center; justify-content: center; text-align: center; 
    height: auto;
    padding-left: 300px; 
    padding-right: 300px;
    padding-bottom: 100px;

    }

#text-1{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

#text-2{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.btn-container{
    padding-top: 20px;
    padding-bottom: 30px;
}
.btn-1{
  
    width: 180px;
    height: 64px;
    border: none;
    background-color: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    

}

#banner{
    margin-left: 100px;
    margin-right: 100px;
    height: auto;
    width: auto;
    padding-left: 300px; 
    padding-right: 300px;

}



/*------------------------
styles for main section
----------------------- */

/* Section-1 */

.section-1{
margin-top: 130px;
display: flex;
align-items: center;
justify-content: center;
height: auto;
margin-top: 85px;
margin-top: 100px;




}

.grid-container {
    height: 782px;
    width: 782px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .grid-container img {
    padding: 20px;
  }

  #gray-part{
    color:#727272
 }
 
 #orange-part{

    color: #FF900E;
 }
  

 .title{
    font-weight: 700;
    font-size: 45px
}


/* ------222222---section-2-22222222---*/

.section-2{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    padding: 25px;
    width: 80vh;
}

.extra{
    /* padding-left: 40px; */
    border-left: 5px solid #FF900E;
    font-weight: 700;
    font-size: 45px
}

.text p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.text-item{

    padding: 5px;    
    box-shadow: .3px .3px .3px rgb(134, 132, 132), -5px 5px 10px rgb(109, 108, 108), 5px -5px 10px rgb(130, 127, 127), -5px -5px 10px rgb(120, 117, 117);
    
    margin-top:  15px;
    
}


#arc{
    height: auto;
    width: 80vh;
}

.overlay-button {
    padding: 50px;
    color: aliceblue;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    position: absolute;
    align-self: flex-end;
    order: 1;
  }

/* 3333333333 section 333333333333333333333 */

.section-3{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.icon{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 5px;
}


/* -----section-4-44444444444444444444444 */

.section-4{

    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.sponsor img{
padding: 40px;
filter: grayscale(100%);
}

.small-text{

    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.footer-div{
    padding: 40px 210px;
    background: #FFF4E7;
}

footer{
    margin-bottom: 110px;
}


.logo:hover {
    background-color: red;
  }





form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #FF900E;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  





  /* Responsive */

@media only screen and (max-width: 776px) {
  

    .nav-item,.grid-container,.text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        

    }
    body,header,#into,.section-1,.grid-container,.text,.section-2,.section-3,.section-4.text,.icon,.sponsor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        justify-content: center;
        align-items: center;
        align-self: center;

    }


    .small-text{
        

    }
    .section-3{

        padding-left: 300px;
    }


    
    

}

/* Responsive */